@import "../layout.scss";
@import "../vars.scss";

// $browser-default-font-size: 16px !default;

html {
  font-size: 62.5%;
}

.container {
  @extend .container;
  background-color: $grey-bg;

  overflow: hidden;
}
