/*
 * Desc: scss vars
 * File Created: Saturday, 4th January 2020 1:44:23 pm
 * Author: huangfuchangyu (changyu.huangfu@tcl.com)
 */

$color-primary: #108ee9;
$color-white: #fff;
$color-warning: #e94f4f;
