/*
 * Desc: dialog scss
 * File Created: Friday, 10th January 2020 10:22:27 am
 * Author: huangfuchangyu (changyu.huangfu@tcl.com)
 */

@import "../mixins.scss";
@import "../vars.scss";

.lite-ui-mask-base {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: $z-index-high;

  visibility: hidden;
  transition: all 0.5s linear;
}

.lite-ui-mask {
  @extend .lite-ui-mask-base;
  background-color: $color-transparent-half;
  opacity: 0;
}

.lite-ui-mask-transparent {
  @extend .lite-ui-mask-base;
  background-color: $color-transparent;
}

.lite-ui-dialog-content {
  @extend .lite-ui-mask-base;

  @include displayFlex(row, center);
  transform: translate3d(0, 100%, 0);

  .lite-ui-dialog {
    position: relative;
    box-sizing: border-box;

    @include remCalc(width, 25);

    @include remCalc(padding-top, 0.5);
    @include remCalc(border-radius, 0.5);
    @include displayFlex(column, center);

    background-color: $color-white;

    .closeIcon {
      position: absolute;
      @include remCalc(top, 1);
      @include remCalc(right, 1);
      @include remCalc(width, 1);
      @include remCalc(height, 1);
    }

    .title {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      @include remCalc(padding, 0.5, 0);
      font-size: #{$dialog-header-fz}px;
    }

    .body {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      @include remCalc(padding, 1.5, 0.5, 2, 0.5);
      font-size: #{$dialog-body-fz}px;
    }

    .footer {
      box-sizing: border-box;
      width: 100%;
      @include displayFlex();

      .footer-btn-base {
        box-sizing: border-box;
        width: 50%;
        @include remCalc(padding, 1, 0);
        text-align: center;
        font-size: #{$dialog-header-fz}px;
        border-top: 1px solid $grey-bg;
      }

      .confirm {
        @extend .footer-btn-base;
      }

      .cancel {
        @extend .footer-btn-base;
        border-right: 1px solid $grey-bg;
      }

      .cancelSingle {
        @extend .footer-btn-base;
        width: 100%;
      }
    }
  }
}

.show-lite-ui-mask {
  visibility: visible;
  opacity: 1;
}

.show-lite-ui-dialog {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
