@import "../../../mixins.scss";
@import "../../../vars.scss";

.operBtn {
  width: 85%;
  background-color: $white;

  @include horizontalCenter();
  @include remCalc(padding, 1, 1, 1, 0.5);
  @include remCalc(border-radius, 0.5);
  @include remCalc(margin-top, 3);
  @include displayFlex(row, space-between, center, no-wrap);

  $titleLen: 3.7;
  .titleIcon {
    @include remCalc(width, $titleLen);
    @include remCalc(height, $titleLen);
  }

  $operLen: 2.5;
  .operIicon {
    @include remCalc(width, $operLen);
    @include remCalc(height, $operLen);
  }

  .textBox {
    @include displayFlex(column, flex-start, flex-start);
    @include remCalc(padding-left, 1);
    width: 100%;

    .title {
      @include remCalc(font-size, 1.7);
    }

    .desc {
      @include remCalc(padding-top, 0.3);
    }
  }
}
