$browser-default-font-size: 16px !default;

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

/// rem
/// @param {*} $property [height]
/// @param {*} $values [10]

@mixin remCalc($property, $values...) {
  $max: length($values); //返回$values列表的长度值
  $pxValues: "";
  $remValues: "";

  @for $i from 1 through $max {
    $value: strip-units(nth($values, $i)); //返回$values列表中的第$i个值，并将单位值去掉
    $browser-default-font-size: strip-units($browser-default-font-size);
    $pxValues: #{$pxValues + $value * $browser-default-font-size}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-units(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}

/// 水平居中
/// @param {*} none

@mixin horizontalCenter {
  margin-left: auto;
  margin-right: auto;
}

/// Flex 布局
/// @param {*} $flexDirection [row | row-reverse | column | column-reverse]
/// @param {*} $justifyContent [flex-start | flex-end | center | space-between | space-around]
/// @param {*} $alignItems [flex-start | flex-end | center | baseline | stretch]

@mixin displayFlex($flexDirection: row, $justifyContent: flex-start, $alignItems: center, $flexWrap: wrap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $flexWrap;
}
