/*
 * Desc:  sass variables
 * File Created: Friday, 3rd January 2020 9:25:20 am
 * Author: huangfuchangyu (changyu.huangfu@tcl.com)
 */

// color

$white: #ffffff;
$black: #000000;

$grey-bg: #f3f2f2;
$grey-text: #747474;

$color-primary: #65bbf8;




// font size

$title-fs: 17px;
$menu-fs: 14px;